VITE_API_URL=http://localhost:5000/api

# Firebase Client SDK
VITE_FIREBASE_MESSAGING_SENDER_ID=367226594318
VITE_FIREBASE_API_KEY=AIzaSyApXtn0a9q2HDZXiGxqAenATzLSdw21jtI
VITE_FIREBASE_AUTH_DOMAIN=medgrind-3c712.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medgrind-3c712
VITE_FIREBASE_APP_ID=1:367226594318:web:74eae0a4a1312ce647485f
